<launch>

	<!-- Object recognition -->
    <node name="object_recognition_node" pkg="object_recognition" type="object_recognition_node" clear_params="true" output="screen" />
    
    <!-- Transformation broadcaster for the camera -->
    <node name="tf_broadcaster_node" pkg="object_recognition" type="tf_broadcaster" clear_params="true" output="screen" />
     
    <!-- Run Rviz -->
    <!--node name="rviz_node" pkg="rviz" type="rviz" /-->
  
  	<!-- Run map server -->
    <!--node name="map_server" pkg="map_server" type="map_server" args="/home/marius/data/testenvironment.yaml"/-->
 
 	<!-- Ros parameter files -->
    <rosparam command="load" file="$(find object_recognition)/parameter/parameter_bag.yaml" />  
    <rosparam command="load" file="$(find object_recognition)/parameter/visualization_bag.yaml" />  
    <rosparam command="load" file="$(find object_recognition)/parameter/tf_broadcaster_bag.yaml" />  
    
</launch>
